In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [2]:
df = pd.read_csv('/Users/vedantsinghania/code/labeled.csv')
df.head()

,GLCODE,GLNAME,PROPERTY,PROPERTYNAME,UNIT,DESCRIPTION,REFERENCE,DEBITCREDIT,REMARKS,DATEDAY,DATEMO,PERIODDAY,PERIODMO,AMOUNT,OUTLIER
0,0,26,25,29,117,1115,7163,0,1570,1,1,1,1,177,1
1,0,26,24,37,56,1005,2998,0,924,30,3,1,3,175,1
2,0,26,6,41,287,1534,3110,1,1460,3,12,1,12,4,1
3,48,158,52,53,0,1118,4677,0,1460,1,3,1,3,863,0
4,44,0,50,15,0,651,2969,1,1458,5,4,1,4,641,1

In [3]:
X = df.copy()
y = df['OUTLIER'].copy()

X = X.drop(['OUTLIER'], axis=1)

In [4]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=1)

X_train = X_train.reset_index(drop=True)
X_test = X_test.reset_index(drop=True)

y_train = y_train.reset_index(drop=True)
y_test = y_test.reset_index(drop=True)

In [5]:
clf = KNeighborsClassifier(n_jobs=-1, n_neighbors=1)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

In [7]:
score = 0

for i in range(0, len(y_pred)):
    if y_pred[i] == y_test[i]:
        score += 1

percent_correct = score/len(y_pred)*100
print("Score: {}%".format(round(percent_correct, 3)))
print(pd.Series(y_pred).value_counts())

Score: 86.646%